@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

body {
  background-color: #242424;
  font-family: 'Roboto', sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  animation: rgbText 6s linear infinite;
  padding: 1rem;
}

@keyframes rgbText {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}

#modes {
  padding: 1rem;
  color: #fff;
}